06. Сетевое программирование/08_DB. ServiceBehavior_appManifest. Create service from code_Streaming. AppConfig/WCF_EntityFramework/NP_WCF_Pubs_Client/NP_WCF_Pubs_Client/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NP_WCF_Pubs_Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NP_WCF_Pubs_Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMyAuthor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyAuthor" nillable="true" type="tns:MyAuthor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyAuthor" nillable="true" type="tns:ArrayOfMyAuthor" />
  <xs:complexType name="MyAuthor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Au_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contract" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyAuthor" nillable="true" type="tns:MyAuthor" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>